/19.07.2019/Testjava/nbproject/private/
/19.07.2019/Testjava/build/
/19.07.2019/Java_loop/nbproject/private/
/19.07.2019/Java_loop/build/
/19.07.2019/Java_loop/dist/
/19.07.2019/Pyramids/nbproject/private/
/19.07.2019/Pyramids/build/
/26.07.2019/Box__/nbproject/private/
/26.07.2019/Box__/build/
/02.08.2019/FullPyramid/nbproject/private/
/02.08.2019/FullPyramid/build/
/02.08.2019/FullPyramid/dist/
/02.08.2019/BuraProject/nbproject/private/
/02.08.2019/BuraProject/build/
/13.09.2019/Object_Oriented/nbproject/private/
/13.09.2019/Object_Oriented/build/
/13.09.2019/classification/nbproject/private/
/13.09.2019/classification/build/
/27.09.2019/interface_demo/nbproject/private/