/19.07.2019/Testjava/nbproject/private/
/19.07.2019/Testjava/build/
/19.07.2019/Java_loop/nbproject/private/
/19.07.2019/Java_loop/build/
/19.07.2019/Java_loop/dist/
/19.07.2019/Pyramids/nbproject/private/
/19.07.2019/Pyramids/build/
/26.07.2019/Box__/nbproject/private/
/26.07.2019/Box__/build/
/02.08.2019/FullPyramid/nbproject/private/
/02.08.2019/FullPyramid/build/